<!DOCTYPE HTML>

<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Presentation</title>

  <!--
  <% if @no_js %>
    <%= inline_css(['pdf.css'], 'public/css') %>
  <% else %>
    <%= inline_css(['onepage.css'], 'public/css') %>
  <% end %>
  <%= inline_css(['reset.css', 'showoff.css', 'theme/ui.all.css', 'sh_style.css'], 'public/css') %>
  <%= inline_css(css_files) %>
  -->
  <%= inline_css(['style.css', 'print.css'], 'public/themes/ribbon/styles') %>

  <% if !@no_js %>
    <%= inline_js(['jquery-1.4.2.min.js', 'jquery-print.js', 'showoff.js', 'onepage.js', 'sh_main.min.js', 'core.js', 'showoffcore.js'], 'public/js') %>
    <script type="text/javascript">
    $(document).ready(function() {
      setupOnePage()
    });
    </script>
  <% end %>
</head>

<body class="list">
<header class="caption">
  <h1><%= @title %></h1>
</header>

<div id="slides">
  <%= @slides %>
</div>
<script src="scripts/script.js"></script>
</body>
</html>
